package {{.Package}}

import (
	"context"
)

type Service struct {
}

func NewService() *Service {
	return &Service{}
}

func (s *Service) Create{{.Title}}(ctx context.Context, input Create{{.Title}}Input) (any, error) {
	// TODO: implement
	return nil, nil
}

func (s *Service) Get{{.Title}}(ctx context.Context, id int64) (any, error) {
	// TODO: implement
	return nil, nil
}
