package cmd

import (
	"github.com/spf13/cobra"

	"{{.ModuleName}}/internal/app"
)

func apiCommand() *cobra.Command {
	return &cobra.Command{
		Use:   "api",
		Short: "Start the HTTP server",
		RunE: func(*cobra.Command, []string) error {
			return app.RunHTTPServer()
		},
	}
}
