package cmd

import (
	"github.com/spf13/cobra"

	"{{.ModuleName}}/internal/app"
)

func cronCommand() *cobra.Command {
	return &cobra.Command{
		Use:   "cron",
		Short: "Start the cron job scheduler",
		Run: func(*cobra.Command, []string) {
			app.RunCronJobScheduler()
		},
	}
}
