package dto

import "math"

const (
	defaultPage = 1
	defaultSize = 10
)

type PaginationRequest struct {
	Page       int32 `query:"page"`
	Limit      int32 `query:"limit"`
	Offset     int32 `query:"-"`
	TotalPages int32 `query:"-"`
}

type PaginationResponse struct {
	PageSize     int32 `json:"pageSize"`
	CurrentPage  int32 `json:"currentPage"`
	TotalRecords int32 `json:"totalRecords"`
	TotalPages   int32 `json:"totalPages"`
}

type HasMoreResponse struct {
	PageSize    int32 `json:"pageSize"`
	CurrentPage int32 `json:"currentPage"`
	HasMore     bool  `json:"hasMore"`
}

func (p *PaginationRequest) Normalize() {
	if p.Page <= 0 {
		p.Page = defaultPage
	}

	if p.Limit <= 0 || p.Limit > 500 {
		p.Limit = defaultSize
	}

	p.Offset = (p.Page - 1) * p.Limit
}

func (p *PaginationRequest) GetTotalPages(total int64) int32 {
	return int32(math.Ceil(float64(total) / float64(p.Limit)))
}

func (p *PaginationRequest) IsHasMore(total int64) bool {
	return int64(p.Page*p.Limit) < total
}
