-- name: CreateUser :execlastid
INSERT INTO users (email, name, password, created_at, updated_at)
VALUES (?, ?, ?, ?, ?);

-- name: GetUserByID :one
SELECT * FROM users WHERE id = ?;

-- name: GetUserByEmail :one
SELECT * FROM users WHERE email = ?;

-- name: UpdateUser :exec
UPDATE users SET name = ?, updated_at = NOW() WHERE id = ?;

-- name: DeleteUser :exec
DELETE FROM users WHERE id = ?;

-- name: ListUsers :many
SELECT *
FROM users
WHERE (sqlc.arg('email') = '' OR email = sqlc.arg('email'))
ORDER BY id
LIMIT ? OFFSET ?;

-- name: CountUsers :one
SELECT COUNT(*)
FROM users
WHERE (sqlc.arg('email') = '' OR email = sqlc.arg('email'));

-- name: ListUsersAfter :many
SELECT *
FROM users
WHERE id > sqlc.arg('cursor')
ORDER BY id
LIMIT ?;
