package locale

func viMapping() {
	translations[LangVi] = Mapping{
		InternalError:   "Lỗi hệ thống",
		InvalidRequest:  "Yêu cầu không hợp lệ",
		Unauthorized:    "Chưa đăng nhập",
		RecordNotFound:  "Không tìm thấy bản ghi",
		UserNotFound:    "Không tìm thấy người dùng",
		UserEmailExists: "Email %s đã tồn tại",
	}
}
