package locale

func enMapping() {
	translations[LangEn] = Mapping{
		InternalError:      "Internal server error",
		InvalidRequest:     "Invalid request",
		Unauthorized:       "Unauthorized",
		RecordNotFound:     "Record not found",
		UserNotFound:       "User not found",
		UserEmailExists:    "Email %s already exists",
		InvalidCredentials: "Invalid email or password",
	}
}
