package {{.Package}}

import (
	"context"
	"fmt"
)

type {{.Title}}Repository struct {
	// TODO: inject database connection
}

func New{{.Title}}Repository() *{{.Title}}Repository {
	return &{{.Title}}Repository{}
}

func (r *{{.Title}}Repository) Create(ctx context.Context, {{.Lower}} interface{}) error {
	// TODO: implement
	return fmt.Errorf("not implemented")
}

func (r *{{.Title}}Repository) GetByID(ctx context.Context, id int64) (interface{}, error) {
	// TODO: implement
	return nil, fmt.Errorf("not implemented")
}

func (r *{{.Title}}Repository) Update(ctx context.Context, {{.Lower}} interface{}) error {
	// TODO: implement
	return fmt.Errorf("not implemented")
}

func (r *{{.Title}}Repository) Delete(ctx context.Context, id int64) error {
	// TODO: implement
	return fmt.Errorf("not implemented")
}

func (r *{{.Title}}Repository) List(ctx context.Context, limit, offset int) ([]interface{}, error) {
	// TODO: implement
	return nil, fmt.Errorf("not implemented")
}
