package {{.Package}}

import (
	"net/http"

	"github.com/labstack/echo/v4"
)

type {{.Title}}Handler struct {
	// TODO: inject {{.Lower}} use case service
}

func New{{.Title}}Handler() *{{.Title}}Handler {
	return &{{.Title}}Handler{}
}

func (h *{{.Title}}Handler) Create(c echo.Context) error {
	// TODO: implement
	return c.JSON(http.StatusCreated, map[string]string{"status": "created"})
}

func (h *{{.Title}}Handler) GetByID(c echo.Context) error {
	// TODO: implement
	return c.JSON(http.StatusOK, map[string]string{"status": "ok"})
}

func (h *{{.Title}}Handler) Update(c echo.Context) error {
	// TODO: implement
	return c.JSON(http.StatusOK, map[string]string{"status": "updated"})
}

func (h *{{.Title}}Handler) Delete(c echo.Context) error {
	// TODO: implement
	return c.NoContent(http.StatusNoContent)
}
