package v1

import (
	"github.com/gofiber/fiber/v2"
	jwtsec "{{.ModuleName}}/internal/adapter/jwt"
	"{{.ModuleName}}/internal/transport/http/v1/user"
)

type Registrar struct {
	userHandler *user.Handler
	verifier    *jwtsec.Verifier
}

func NewRegistrar(
	userHandler *user.Handler,
	verifier *jwtsec.Verifier,
) *Registrar {
	return &Registrar{
		userHandler: userHandler,
		verifier:    verifier,
	}
}

func (r *Registrar) Register(router fiber.Router) {
	// Authenticated routes
	authGroup := router.Group("", middleware.Auth(r.verifier))
	r.userHandler.RegisterRoutes(authGroup)
}
